<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AlbumPanelColorTiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <AlbumPanelColorTiles.Properties.Settings>
      <setting name="BlockColorAreaName" serializeAs="String">
        <value>АКР_Зона-покраски</value>
      </setting>
      <setting name="BlockFrameName" serializeAs="String">
        <value>АКР_Рамка</value>
      </setting>
      <setting name="BlockPanelPrefixName" serializeAs="String">
        <value>АКР_Панель_</value>
      </setting>
      <setting name="BlockMountingPlanePrefixName" serializeAs="String">
        <value>АКР_Монтажка_</value>
      </setting>
      <setting name="BlockFacadeName" serializeAs="String">
        <value>АКР_Фасад</value>
      </setting>
      <setting name="BlockTileName" serializeAs="String">
        <value>АКР_Плитка</value>
      </setting>
      <setting name="AttributePanelSbPaint" serializeAs="String">
        <value>ПОКРАСКА</value>
      </setting>
      <setting name="AttributePanelSbMark" serializeAs="String">
        <value>МАРКА</value>
      </setting>
      <setting name="EndLeftPanelSuffix" serializeAs="String">
        <value>_тл</value>
      </setting>
      <setting name="EndRightPanelSuffix" serializeAs="String">
        <value>_тп</value>
      </setting>
      <setting name="WindowPanelSuffix" serializeAs="String">
        <value>_ок</value>
      </setting>
      <setting name="LayerMarks" serializeAs="String">
        <value>АР_Марки</value>
      </setting>
      <setting name="LayerUpperStoreyPanels" serializeAs="String">
        <value>АР_Панели_Чердак</value>
      </setting>
      <setting name="LayerWindows" serializeAs="String">
        <value>АР_Окна</value>
      </setting>
      <setting name="LayerDimensionFacade" serializeAs="String">
        <value>АР_Размеры на фасаде</value>
      </setting>
      <setting name="LayerDimensionForm" serializeAs="String">
        <value>АР_Размеры в форме</value>
      </setting>
      <setting name="TemplateBlocksAKRFileName" serializeAs="String">
        <value>АКР_Блоки.dwg</value>
      </setting>
      <setting name="SheetTemplateLayoutNameForContent" serializeAs="String">
        <value>Содержание</value>
      </setting>
      <setting name="TemplateSheetContentFileName" serializeAs="String">
        <value>АКР_Шаблон_Содержание.dwg</value>
      </setting>
      <setting name="TemplateSheetMarkSBFileName" serializeAs="String">
        <value>АКР_Шаблон_МаркаСБ.dwg</value>
      </setting>
      <setting name="SheetTemplateLayoutNameForMarkAR" serializeAs="String">
        <value>TemplateMarkAR</value>
      </setting>
      <setting name="TileHeight" serializeAs="String">
        <value>88</value>
      </setting>
      <setting name="TileLenght" serializeAs="String">
        <value>288</value>
      </setting>
      <setting name="TileSeam" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="CaptionPanelTextHeight" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="CaptionPanelSecondTextShift" serializeAs="String">
        <value>250</value>
      </setting>
    </AlbumPanelColorTiles.Properties.Settings>
  </applicationSettings>
</configuration>